.cart {
  .woocommerce-notices-wrapper {
    padding-top: 20px;
  }
  .woocommerce-message {
    border-top-color: $color-default;

    &:before {
      color: $color-default;
    }
  }
}
.cart-all {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  .cart-product {
    width: 100%;
    &-item {
      border-bottom: 1px solid $color-gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 20px 30px 0;
      &:first-child {
        border-top: 1px solid $color-gray;
      }
    }
  }
  &-info {
    border: 1px solid $color-gray;
    box-sizing: border-box;
    min-width: 400px;
    &-layout {
      padding: 40px;
    }
  }
  .info-cart {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    margin-bottom: 40px;
    &-item {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $color-dark;
      background-color: white;
      z-index: 9;
      &:nth-child(2){
        border-bottom: 1px dashed $color-gray;
        position: absolute;
        bottom: 5px;
        width: 100%;
        z-index: 1;
      }
      &:last-child {
        padding-left: 6px;
      }
      &.bold {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
      }
      .opacity {
        opacity: 0.5;
      }
    }
    .woocommerce-Price-currencySymbol {
      display: none;
    }
  }
  .checkout-button {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    background-color: $color-dark;
    color: $color-white;
    display: block;
    text-align: center;
    transition: .3s;
    width: 100%;
    padding: 12px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: $color-blue;
    }
  }
  .cart-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: $color-dark;
    text-align: center;
  }
}
//Блоки товаров
.cart {
  .product-price {
    text-align: right;
    .product-sale {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $color-dark;
      opacity: 0.5;
    }
    &-total {
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
      color: $color-dark;
    }
    .woocommerce-Price-currencySymbol {
      display: none;
    }
  }
  .product-thumbnail {
    width: 128px;
    text-align: center;
    img {
      max-height: 50px;
      width: auto;
    }
  }
  .product-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    max-width: 171px;
    a {
      color: $color-dark;
    }
  }
  .product-remove {
    .remove {
      position: relative;
      width: 24px;
      height: 24px;
      &:after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1523 2.90234L12.0664 11L20.1523 19.0977L19.0977 20.1523L11 12.0664L2.90234 20.1523L1.84766 19.0977L9.93359 11L1.84766 2.90234L2.90234 1.84766L11 9.93359L19.0977 1.84766L20.1523 2.90234Z' fill='%23B8C2C4'/%3E%3Cpath d='M20.1523 2.90234L20.86 3.60894L21.566 2.90183L20.8595 2.19524L20.1523 2.90234ZM12.0664 11L11.3588 10.2934L10.6532 11L11.3588 11.7066L12.0664 11ZM20.1523 19.0977L20.8595 19.8048L21.566 19.0982L20.86 18.3911L20.1523 19.0977ZM19.0977 20.1523L18.3911 20.86L19.0982 21.566L19.8048 20.8595L19.0977 20.1523ZM11 12.0664L11.7066 11.3588L11 10.6532L10.2934 11.3588L11 12.0664ZM2.90234 20.1523L2.19524 20.8595L2.90183 21.566L3.60894 20.86L2.90234 20.1523ZM1.84766 19.0977L1.14004 18.3911L0.433954 19.0982L1.14055 19.8048L1.84766 19.0977ZM9.93359 11L10.6412 11.7066L11.3468 11L10.6412 10.2934L9.93359 11ZM1.84766 2.90234L1.14055 2.19524L0.433954 2.90183L1.14004 3.60894L1.84766 2.90234ZM2.90234 1.84766L3.60894 1.14004L2.90183 0.433954L2.19524 1.14055L2.90234 1.84766ZM11 9.93359L10.2934 10.6412L11 11.3468L11.7066 10.6412L11 9.93359ZM19.0977 1.84766L19.8048 1.14055L19.0982 0.433954L18.3911 1.14004L19.0977 1.84766ZM19.4447 2.19575L11.3588 10.2934L12.774 11.7066L20.86 3.60894L19.4447 2.19575ZM11.3588 11.7066L19.4447 19.8043L20.86 18.3911L12.774 10.2934L11.3588 11.7066ZM19.4452 18.3905L18.3905 19.4452L19.8048 20.8595L20.8595 19.8048L19.4452 18.3905ZM19.8043 19.4447L11.7066 11.3588L10.2934 12.774L18.3911 20.86L19.8043 19.4447ZM10.2934 11.3588L2.19575 19.4447L3.60894 20.86L11.7066 12.774L10.2934 11.3588ZM3.60945 19.4452L2.55476 18.3905L1.14055 19.8048L2.19524 20.8595L3.60945 19.4452ZM2.55527 19.8043L10.6412 11.7066L9.22598 10.2934L1.14004 18.3911L2.55527 19.8043ZM10.6412 10.2934L2.55527 2.19575L1.14004 3.60894L9.22598 11.7066L10.6412 10.2934ZM2.55476 3.60945L3.60945 2.55476L2.19524 1.14055L1.14055 2.19524L2.55476 3.60945ZM2.19575 2.55527L10.2934 10.6412L11.7066 9.22598L3.60894 1.14004L2.19575 2.55527ZM11.7066 10.6412L19.8043 2.55527L18.3911 1.14004L10.2934 9.22598L11.7066 10.6412ZM18.3905 2.55476L19.4452 3.60945L20.8595 2.19524L19.8048 1.14055L18.3905 2.55476Z' fill='%23B8C2C4'/%3E%3C/svg%3E%0A");
        background-size: cover;
        top: -11px;
        right: 0;
        width: 24px;
        height: 24px;
      }
    }
  }
  .product-quantity {
    display: flex;
    justify-content: space-between;
    .quantity-min {
      width: 37px;
      height: 37px;
      background-color: $color-blue;
      text-align: center;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.728 1.122C0.608 1.122 0.512 1.086 0.44 1.014C0.368 0.942 0.332 0.846 0.332 0.726V0.474C0.332 0.354 0.368 0.258 0.44 0.186C0.512 0.114 0.608 0.0779995 0.728 0.0779995H11.078C11.198 0.0779995 11.294 0.114 11.366 0.186C11.438 0.258 11.474 0.354 11.474 0.474V0.726C11.474 0.846 11.438 0.942 11.366 1.014C11.294 1.086 11.198 1.122 11.078 1.122H0.728Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
    .quantity-max {
      width: 37px;
      height: 37px;
      background-color: $color-blue;
      text-align: center;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-size: cover;
        margin: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.508 10.406C5.388 10.406 5.292 10.37 5.22 10.298C5.148 10.226 5.112 10.13 5.112 10.01V6.068H1.206C1.086 6.068 0.99 6.032 0.918 5.96C0.846 5.888 0.81 5.792 0.81 5.672V5.42C0.81 5.3 0.846 5.204 0.918 5.132C0.99 5.06 1.086 5.024 1.206 5.024H5.112V1.19C5.112 1.07 5.148 0.974 5.22 0.901999C5.292 0.829999 5.388 0.793999 5.508 0.793999H5.778C5.898 0.793999 5.994 0.829999 6.066 0.901999C6.138 0.974 6.174 1.07 6.174 1.19V5.024H10.098C10.218 5.024 10.314 5.06 10.386 5.132C10.458 5.204 10.494 5.3 10.494 5.42V5.672C10.494 5.792 10.458 5.888 10.386 5.96C10.314 6.032 10.218 6.068 10.098 6.068H6.174V10.01C6.174 10.13 6.138 10.226 6.066 10.298C5.994 10.37 5.898 10.406 5.778 10.406H5.508Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
    .quantity {
      input {
        border: 1px solid $color-blue;
        box-sizing: border-box;
        margin: 0 5px;
        height: 100%;
        text-align: center;
        width: 52px;
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-black;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}

//Скрытые стандартные блоки
.cart {
  .cart-collaterals {
    display: none;
  }
  .actions {
    display: none;
  }
}