.u-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: $color-white;
  background-color: $color-dark;
  border: 1px solid $color-default;
  box-sizing: border-box;
  padding: 11px 52px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  box-shadow: 4px 9px 16px -7px rgba(0, 0, 0, 0.72);
}