.functional {
  background-color: $color-dark;
  position: relative;
  min-height: 1010px;
  .title-h2 {
    color: $color-white;
  }
  &-layout {
    padding-top: 80px;
    display: flex;
    position: relative;
    height: 859px;
  }
  &-desc {
    max-width: 800px;
    z-index: 9;
    &.block-big {
      max-width: 723px;
    }
    &.block-full {
      max-width: 773px;
    }
    &-content {
      padding: 40px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: $color-white;
      max-width: 600px;
    }
  }
  &-cover {
    position: absolute;
    right: 0;
    bottom: -75px;
    &.position-two {
      position: initial;
    }
  }
  &-lists {
    padding-top: 60px;
    margin-left: -30px;
    &_item {
      margin-bottom: 24px;
    }
    &-layout {

    }
    &-head {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-default;
        margin-left: -18px;
      }
    }
    ul {
      padding-top: 20px;
      margin-left: 58px;
      li {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-white;
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &:before {content: '';
          position: absolute;
          width: 19px;
          height: 18px;
          left: 0;
          background-size: cover;
          top: 2px;
          background-image: url(../images/icons/ic_check_orange.svg);
        }
      }
    }
  }
  &-box {
    padding-top: 50px;
    &-item {
      margin-bottom: 42px;
      img {
        margin-left: -30px;
      }
      .text-neon {
        max-width: 366px;
        display: block;
        margin-top: -10px;
      }
    }
  }
  &-tabs {
    padding-top: 40px;
    .tabs {
      li {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-white;
        padding-bottom: 18px;
      }
    }
    .tab_container {
      background: transparent;
      .functional-lists {
        padding-top: 0;
        margin-left: 0;
        &-head {
          span {
            margin-left: 16px;
          }
        }
        ul {
          max-width: 306px;
          margin-left: 20px;
        }
      }
    }
    &.full-tabs {
      .tab_content {
        padding-top: 132px;
      }
      .grid-two {
        display: block;
        margin-left: -30px;
      }

      .functional-lists {
        &-head {
          span {
            margin-left: -14px;
          }
        }
        ul {
          margin-left: 36px;
        }
      }

    }
  }
  &-app {
    &-layout {
        a {
          &:first-child {
            margin-right: 13px;
          }
        }
    }
  }
}
//Раскрывающие списки
.u-list {
  max-width: 750px;
  &-head {
    margin-top: 20px;
    margin-left: -32px;
    display: flex;
    align-items: center;
    background-color: $color-dark;
    &-block {
      margin-left: -14px;
      span {
        color: $color-orange;
        font-size: 18px;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-default;
        cursor: pointer;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 8px;
          right: -29px;
          top: 14px;
          background-size: cover;
          transition: .3s;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 0.999999' stroke='%23FF9500' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &-content {
    display: none;
    margin: 0 0 20px -20px;
    background-color: #2c3b3d;
    padding-left: 20px;
    ul {
      column-count: 2;
      li {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-white;
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;
        &:before {
          content: '';
          position: absolute;
          width: 19px;
          height: 18px;
          left: 0;
          background-size: cover;
          top: 2px;
          background-image: url(../images/icons/ic_check_orange.svg);
        }
      }
    }
  }
  &-item {
    &.list-open {
      border: 1px solid $color-gray;
      .u-list-content {
        display: block;
      }
      .u-list-head-block {
        p {
          &:after {
            transform: rotate(177deg);
          }
        }
      }
    }
  }
}
