.functional {
  background-color: $color-dark;
  position: relative;
  min-height: 1010px;
  transition: .3s;
  .title-h2 {
    color: $color-white;
  }
  &-layout {
    padding-top: 60px;
    display: flex;
    position: relative;
    height: 859px;
    transition: .3s;
  }
  &-desc {
    max-width: 800px;
    z-index: 9;
    transition: .3s;
    &.block-big {
      max-width: 723px;
    }
    &.block-full {
      max-width: 773px;
    }
    &-content {
      padding: 40px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: $color-white;
      max-width: 600px;
      transition: .3s;
    }
  }
  &-cover {
    position: absolute;
    right: 0;
    bottom: -94px;
    transition: .3s;
    &.position-two {
      position: initial;
    }
  }
  &-lists {
    padding-top: 60px;
    margin-left: -30px;
    transition: .3s;
    &_item {
      margin-bottom: 24px;
    }
    &-layout {

    }
    &-head {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-default;
        margin-left: -18px;
      }
    }
    ul {
      padding-top: 20px;
      margin-left: 58px;
      transition: .3s;
      li {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-white;
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &:before {content: '';
          position: absolute;
          width: 19px;
          height: 18px;
          left: 0;
          background-size: cover;
          top: 2px;
          background-image: url(../images/icons/ic_check_orange.svg);
        }
      }
    }
  }
  &-box {
    padding-top: 50px;
    transition: .3s;
    &-item {
      margin-bottom: 42px;
      transition: .3s;
      img {
        margin-left: -30px;
      }
      .text-neon {
        max-width: 366px;
        display: block;
        margin-top: -10px;
      }
    }
  }
  &-tabs {
    padding-top: 40px;
    transition: .3s;
    .tabs {
      li {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-white;
        padding-bottom: 50px;
      }
    }
    .tab_container {
      background: transparent;
      .functional-lists {
        padding-top: 0;
        margin-left: 0;
        &-head {
          span {
            margin-left: 16px;
          }
        }
        ul {
          max-width: 306px;
          margin-left: 20px;
        }
      }
    }
    &.full-tabs {
      .tab_content {
        padding-top: 132px;
        transition: .3s;
      }
      .grid-two {
        display: block;
        margin-left: -30px;
      }

      .functional-lists {
        &-head {
          span {
            margin-left: -14px;
          }
        }
        ul {
          margin-left: 36px;
        }
      }

    }
  }
  &-app {
    &-layout {
        a {
          &:first-child {
            margin-right: 13px;
          }
        }
    }
  }
}
//Раскрывающие списки
.u-list {
  max-width: 750px;
  transition: .3s;
  &-head {
    margin-top: 20px;
    margin-left: -32px;
    display: flex;
    align-items: center;
    background-color: $color-dark;
    &-block {
      margin-left: -14px;
      span {
        color: $color-orange;
        font-size: 18px;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-default;
        cursor: pointer;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 8px;
          right: -29px;
          top: 14px;
          background-size: cover;
          transition: .3s;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 0.999999' stroke='%23FF9500' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  &-content {
    display: none;
    margin: 0 0 20px -20px;
    background-color: #2c3b3d;
    padding-left: 20px;
    transition: .3s;
    ul {
      column-count: 2;
      li {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-white;
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;
        &:before {
          content: '';
          position: absolute;
          width: 19px;
          height: 18px;
          left: 0;
          background-size: cover;
          top: 2px;
          background-image: url(../images/icons/ic_check_orange.svg);
        }
      }
    }
  }
  &-item {
    margin-bottom: -20px;
    &.list-open {
      border: 1px solid $color-gray;
      .u-list-content {
        display: block;
      }
      .u-list-head-block {
        p {
          &:after {
            transform: rotate(177deg);
          }
        }
      }
    }
  }
}




@media (max-width: 1260px) {
  .functional {
    min-height: auto;
    overflow: hidden;
    &-cover {
      position: inherit;
    }
    &-desc {
      max-width: initial;
    }
    &-layout {
      height: auto;
    }
  }
}
@media (max-width: 1100px) {
  .functional {
    .title-h2 {
      font-size: 26px;
    }
    &-cover {
      width: 50%;
      img {
        //position: absolute;
      }
    }
    &-desc {
      width: 50%;
      .title-h2 {
        position: absolute;
      }
      &-content {
        position: absolute;
        top: 60px;
        font-size: 16px;
      }
      .u-list {
        margin-top: 170px;
      }
    }
    &-layout {

    }
    .u-list {
      &-item {
        margin-bottom: 22px;
      }
    }
  }
  .functional-desc.block-big{
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -9px;
      left: -34px;
      right: 0;
      box-shadow: 0 -11px 50px 23px #2d3c3e;
    }
  }
  .functional-lists {
    max-height: 1006px;
    overflow: auto;
    margin-top: 120px;
    padding-top: 0;
    grid-template-columns: 1fr;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-default;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    ul {
      margin-left: 32px;
      padding-right: 20px;

    }
  }
}

@media (max-width: $tablet-media) {
  .functional {
    .title-h2 {
      font-size: 18px;
    }
    &-cover {
      position: absolute;
      top: 187px;
      right: 0;
    }
    .u-list {
      &-content {
        ul {
          column-count: inherit;
        }
      }
    }
  }
}






@media (max-width: $mobile-media) {
  .functional {
    &-layout {
      padding-top: 30px;
      display: flex;
    }
    .u-list {
      margin-top: 64px;
      &-head {
        &-block {
          span {
            font-size: 12px;
          }
          p {
            font-size: 12px;
            line-height: normal;
            &:after {
              top: 5px;
            }
          }
        }

      }
      &-item {
        margin-bottom: -44px;
        &:last-child {
          margin-bottom: 0;
        }
        &.list-open {
          border: 0;
        }
      }
      &-content {
        ul {
          column-count: inherit;
          li {
            font-size: 12px;
            line-height: normal;
            &:before {
              top: -3px;
            }
          }
        }
      }
    }
    &-desc {
      width: 61%;
      &-content {
        top: 30px;
        font-size: 12px;
        line-height: normal;
      }
    }

    &-cover {
      width: 39%;
      top: auto;
      right: auto;
      position: inherit;
      img {
        position: inherit;
      }
    }
  }
  .functional-lists {
    margin-top: 90px;
    margin-left: -22px;
    &_item {
      margin-bottom: 0;
      margin-top: -20px;
    }
    &-head {
      img {
        max-width: 82px;
      }
      span {
        font-size: 12px;
        line-height: normal;
      }
    }
    ul {
      padding-top: 0;
      margin-left: 25px;
      padding-right: 10px;
      li {
        font-size: 12px;
        line-height: normal;
        &:before {
          top: -3px;
        }
      }
    }
  }
}