.lists-services {
  padding-bottom: 70px;
    &-layout {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  &-box {
    flex-basis: 33.333%;
    margin-bottom: 40px;
    .services-head {
      display: flex;
      align-items: center;
      padding-bottom: 22px;
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-blue;
        padding-left: 10px;
      }
    }
    ul {
      margin-left: 30px;
      max-width: 317px;
    }
    li {
      position: relative;
      padding-left: 26px;
      margin-bottom: 26px;
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $color-dark;
      &:before {
        content: '';
        position: absolute;
        width: 19px;
        height: 18px;
        left: 0;
        background-size: cover;
        top: 2px;
        background-image: url(../images/icons/ic_check_orange.svg);
      }
    }
  }
  &-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: $color-dark;
  }
  &-load {
    .download-title {
      font-weight: 300;
      font-size: 12px;
      line-height: 130%;
      text-align: center;
      color: $color-dark;
    }
    .download-link {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-top: 18px;
    }
    .download-info {
      padding-top: 24px;
      font-weight: 300;
      font-size: 10px;
      line-height: 130%;
      color: $color-dark;
    }
  }
}
@media (min-width: 1061px) {
  .lists-services {
    .action-btn {
      display: none;
    }
    &-box {
      &.swiper-slide {
        display: block;
        text-align: left;
      }
    }
  }
}
@media (max-width: 1060px) {
  .lists-services {
    .swiper-container3 {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
    &-box {
      flex-basis: 100%;
      &.swiper-slide {
        display: block;
        margin-bottom: 0;
        height: auto;
      }
    }
    &-layout {
      flex-wrap: nowrap;
      justify-content: inherit;
    }
    &-box {
      .services-head {
        p {
          text-align: left;
        }
      }
      ul {
        margin-left: 0;
        max-width: inherit;
        text-align: left;
      }
    }
  }
}
@media (max-width: $mobile-media) {
  .lists-services {
    &-box {
      .services-head {
        img {
          max-width: 36px;
        }
        p {
          font-size: 12px;
          line-height: normal;
        }
      }
      li {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 22px;
        &:before {
          top: -3px;
        }
      }
    }
    &-text {
      font-size: 12px;
      line-height: normal;
    }
  }
}
