.lists-services {
  padding-bottom: 70px;
    &-layout {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  &-box {
    flex-basis: 33.333%;
    margin-bottom: 40px;
    .services-head {
      display: flex;
      align-items: center;
      padding-bottom: 22px;
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: $color-blue;
        padding-left: 10px;
      }
    }
    ul {
      margin-left: 30px;
      max-width: 317px;
    }
    li {
      position: relative;
      padding-left: 26px;
      margin-bottom: 26px;
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $color-dark;
      &:before {
        content: '';
        position: absolute;
        width: 19px;
        height: 18px;
        left: 0;
        background-size: cover;
        top: 2px;
        background-image: url(../images/icons/ic_check_orange.svg);
      }
    }
  }
  &-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: $color-dark;
  }
}