.partners {
  padding: 100px 0;
  transition: .3s;
  &-layout {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: $large-media) {
  .partners {
    margin: 0 30px;
    &-layout {
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
@media (max-width: $tablet-media) {
  .partners {
    padding: 50px 0;
    &-layout {
      a {
        flex-basis: 25%;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.partner-form {
  background-image: url(../images/covers/partner-bg.png);
  min-height: 616px;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 80px;
  transition: .3s;
  &-desc {
    padding-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $color-dark;
    max-width: 800px;
  }
  &-box {
    padding-top: 30px;
    max-width: 520px;
    margin: 0 auto;
    transition: .3s;
    &-text {
      text-align: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: $color-dark;
      a {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: $color-blue;
        display: block;
        padding: 12px 0;
        text-decoration: none;
      }
    }
    form {
      text-align: center;
      padding-top: 12px;
    }
    .u-controls {
      margin-bottom: 30px;
      .u-input {
        background: $color-white;
        border: 1px solid $color-blue;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: $color-blue;
        width: 366px;
        transition: .3s;
        &::-webkit-input-placeholder { color: $color-blue; }
        &:-ms-input-placeholder { color: $color-blue; }
        &::-ms-input-placeholder { color: $color-blue; }
        &::placeholder { color: $color-blue; }
      }
    }

  }

}
@media (max-width: $tablet-media) {
  .partner-form {
    min-height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    &-desc {
      font-size: 20px;
      line-height: 120%;
    }
  }
}
@media (max-width: $mobile-media) {
  .partner-form {
    padding-top: 30px;
    padding-bottom: 50px;
    &-desc {
      padding-top: 15px;
      font-size: 12px;
      line-height: 120%;
    }
    &-box {
      &-text {
        font-size: 12px;
        line-height: 120%;
        a {
          font-size: 18px;
        }
      }
      .u-controls {
        .u-input {
          width: 100%;
        }
      }
    }
  }
}