.product-item {
  padding-top: 55px;
  transition: .3s;
  &-layout {
    padding-top: 60px;
    grid-column-gap: 50px;
    transition: .3s;
  }
  .tabs {
    li {
      font-size: 24px;
      line-height: 120%;
      &.active {
        color: $color-blue;
        border-bottom: 1px solid $color-blue;
      }
      &:hover {
        color: $color-blue;
        border-bottom: 1px solid $color-blue;
      }
    }
  }
  .tab_container {
    padding-bottom: 20px;
  }
  &-box {
    &-content {
      .product-info {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        color: $color-dark;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-gray;
        margin-bottom: 20px;
        &.not-border {
          border: 0;
        }
      }
    }
  }
  &-images {
    &-alpha {
      min-width: 200px;
      overflow: hidden;
      text-align: center;
      transition: .3s;
      img {
        height: auto;
      }
    }
    &-boxes {
      padding-top: 50px;
      max-height: 100px;
      width: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 10px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: $color-white;
      }

      &::-webkit-scrollbar-thumb {
        background: $bg-scroll;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
  &-img {
    display: flex;
    max-width: 297px;
    transition: .3s;
    .img-cover {
      display: inline-block;
      max-height: 60px;
      width: auto;
      margin: 10px 7px 10px 7px;
      position: relative;
      cursor: pointer;
      transition: .3s;
      &:first-child {
        margin-left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.56);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &.active {
        &:after {
          background-color: initial;
        }
      }
      img {
        max-height: 60px;
      }
    }
  }
  &-cools {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    transition: .3s;
    &-icon {
      max-height: 44px;
      img {
        height: auto;
      }
    }
  }
  &-form {
    .product-form {
      border: 1px solid $color-gray;
      box-sizing: border-box;
      padding: 20px 30px 10px 30px;
      transition: .3s;
      &-head {
        display: flex;
        align-items: center;
        &_item {
          display: flex;
          align-items: center;
          .pr-title {
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: $color-blue;
          }
          .pr-icon {
            width: 26px;
            background-color: $color-blue;
            text-align: center;
            padding: 3px 0;
            border-radius: 50%;
            color: $color-white;
            margin-left: 4px;
          }
          &:first-child {
            margin-right: 22px;
          }
        }
      }
      &-price-old {
        text-decoration: line-through;
        padding-top: 28px;
        text-align: right;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: $color-dark;
        opacity: 0.5;
      }
      &-info {
        padding-top: 6px;
        &-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $color-gray;
          margin-bottom: 30px;
          transition: .3s;
        }
        &_item {
          margin-bottom: -5px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 4px;
            background-color: $color-white;
          }
          &:first-child {
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: $color-dark;
            margin-bottom: -7px;
            &:after {
              left: 0;
            }
          }
          &:last-child {
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
            color: $color-dark;
            &:after {
              height: 5px;
              right: 0;
            }
          }
        }
        .info-text {
          text-align: right;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          color: $color-blue;
        }
        .u-form {
          padding-top: 20px;
          margin-bottom: -30px;
          &-btn {
            background-color: $color-white;
          }
        }
        .u-controls {
          .u-input {
            font-weight: 500;
            width: 100%;
            &::-webkit-input-placeholder { font-weight: 500; }
            &:-ms-input-placeholder { font-weight: 500; }
            &::-ms-input-placeholder { font-weight: 500; }
            &::placeholder { font-weight: 500; }
          }
        }
        .u-btn {
          box-shadow: none;
          opacity: 0.5;
        }
      }
    }
  }
  &-msg {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: $color-dark;
    padding-top: 30px;
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
  }
}
.product-head {
  display: flex;
  align-items: center;
  &_item {
    display: flex;
    align-items: center;
    &:first-child {
      margin-right: 22px;
    }
    .pr-title {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: #0090A1;
    }
    .pr-icon {
      width: 26px;
      background-color: #0090A1;
      text-align: center;
      padding: 3px 0;
      border-radius: 50%;
      color: #fff;
      margin-left: 4px;
    }
  }
}
.product-item-box-content {
  padding-bottom: 20px;
  table {
    width: 100%;
    border-collapse: collapse;
    tbody {
      width: 100%;
      tr {
        margin-bottom: 6px;
        border-bottom: 1px solid $color-gray;
        th {
          text-align: left;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          color: $color-dark;
          padding-top: 15px;
        }
        td {
          text-align: right;
          font-weight: 300;
          font-size: 18px;
          line-height: 130%;
          color: $color-dark;
          padding-top: 15px;
        }
      }
    }
  }
}
@media (max-width: $large-media) {
    .product-item {
      &-layout {
        grid-column-gap: 20px;
      }
    }
}
@media (max-width: 1100px) {
  .product-item {
    &-layout {
      grid-column-gap: 50px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: $tablet-media) {
  .product-item {
    .tabs-all {
      .tab {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: $mobile-media) {
  .product-item {
    padding-bottom: 20px;
    &-layout {
      padding-top: 30px;
      display: block;
    }
    .tabs-all {
      &_lists {
        justify-content: flex-start;
        .tab {
          font-size: 12px;
          padding: 0 0 16px;
          &:first-child {
            margin-right: 12px;
          }
        }
      }
      .tabContent {
        margin-top: 20px;
      }
    }

    &-images {
      &-alpha img {

      }
      &-boxes {

      }
    }
    &-img {
      max-width: 100%;
    }
    &-cools {
      padding-top: 30px;
      padding-bottom: 34px;
    }
    &-download {
      padding-top: 26px;
      padding-bottom: 22px;
      &-block {
        text-align: center;
      }
      .download {
        &:before {
          top: -20px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .product-item-form {
    .product-form {
      padding: 20px 20px 10px 20px;
      &-head {
        display: none;
      }
      &-price-old {
        padding-top: 0;
      }
      &-info {
        &-price {

        }
        &_item {
          &:first-child {
            font-size: 12px;
            margin-bottom: -2px;
          }
          &:last-child {
            font-size: 12px;
            &:after {
              height: 3px;
            }
          }
        }
        .info-text {
          display: none;
        }
        .u-controls {
          .u-input {
            font-size: 12px;
          }
        }
        .u-form-btn {
          width: 82%;
          margin: 0 auto;
        }
      }
    }
  }
  .product-head {
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 20px;
  }
}